# EditorConfig helps maintain consistent coding styles
# https://editorconfig.org/

root = true

[*]
end_of_line = lf
charset = utf-8
insert_final_newline = true
trim_trailing_whitespace = true
max_line_length = 100

[*.{js,jsx,ts,tsx,mjs,cjs,mts,cts,d.ts}]
indent_style = space
indent_size = 2

[*.{json,jsonc}]
indent_style = space
indent_size = 2

[*.{yml,yaml}]
indent_style = space
indent_size = 2

[*.{css,scss,less,html,htm}]
indent_style = space
indent_size = 2

[Makefile]
indent_style = tab

[*.md]
# Allow single trailing spaces used for hard line breaks in MD
trim_trailing_whitespace = false
indent_style = space
indent_size = 2

